.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .content-section-bus {
    margin: 0 auto;
    display: inline-block;
    
    
   
    
    .text-content {
      width: 100%;
      padding-right: 1%;
    }

    .img-content {
      width: 100%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }
  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
}// home

header {

  width: 100%;
  margin: 0 auto;
  background-color: white;
 

}

/* Media Query*/
@media all and (max-width: @mobile) {
  
  html {

    font-size: .35rem;

    }
  
  .footer {
  
    width: 50%;
    margin: 0 auto;
    height: 40px;

  } 

  
  .container {    
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    margin: 0 auto;
    justify-content: space-around;
    
    .content-section-bus {

      width: 40%;
      margin: 0 auto;

    }

    .img-content {
      
      width: 40%;
      margin: 0 auto;
      

    }

    .text-content {

      margin: 0 auto;
      

    }
    .content-section {

    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    text-align: left; 
     

      .inverse-content {
        
        margin: 0 auto;
        display: flex;
        
       
      }

    }

    
    .Nav-Top {

      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0px;     
      width: 40%;
      border-bottom: 1px dashed silver;
      text-align: center;

      .div-a {

        margin: 0 auto;
        
        h1 {

          padding: 10px 10px 10px 10px;
          font-size: 2.6rem;
          margin: 0 auto;

        }

      }

      .div-b {
        
        
        //align-items: stretch;
        //margin: 0 auto;

        nav {
          
          display: flex;
          margin: 0 auto;
          width: 100%;
         

          a {
            
            font-size: 1.70rem;
            margin: 0 auto;
            
            
          }
  

      }

       
        
      }

    }

    .content-pick {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        
        .destination {
           
           
           
          width: 40%;
          margin: 0 auto;
          padding-bottom: 5PX;

          

        }

        p {

          margin: 0 auto;

        }
    }

    .text-content {

        display: block;

        p {      
          width: 100%;
        }

    }

    .img-content {

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

  }

  .content-destination {

    margin: 0 auto;
    width: 50%;
    
    .destination {

      margin: 0 auto;

      p {

        line-height: .25;

      }
      
      
    }

   .btn {
      
      width: 100%;
      height: 10%;
      margin: 0 auto;

    }

  }

  }

  

}