// Navigation Styles here
.Nav-Top {

    margin: 0 auto;
    padding: 10px 5px 5px 0px;
    background-color: beige;
    
    nav a {

        text-decoration: none;
        font-size: 1.25rem;
        padding: 10px 5px 5px 10px;
    }


}